// *****************************************************base.scss
/* colors */
$color-bg-trans01-black: rgba(0, 0, 0, 0.1);
$color-bg-trans20-light-blue: rgba(185, 203, 255, 0.2);
$color-bg-trans40-light-blue: rgba(185, 203, 255, 0.4);
$color-bg-light-blue: rgba(185, 203, 255, 1.0);
$color-bg-trans40-blue: rgba(18, 37, 95, 0.4);
$color-bg-trans80-blue: rgba(18, 37, 95, 0.8);
$color-bg-blue: rgba(18, 37, 95, 1.0);
$color-border-trans20-light-blue: rgba(46, 100, 255, 0.2);
$color-border-trans40-light-blue: rgba(46, 100, 255, 0.4);
$color-border-trans80-light-blue: rgba(46, 100, 255, 0.8);
$color-border-light-blue: rgba(46, 100, 255, 0.8);
$color-font-blue: #acc1ff;

/* z-index */
$z-index-index: 1010;
$z-index-menu: 1100;
$z-index-modal: 1200;

$ue-width: 1340; /* ue图的宽度 */
@function px2rem($px) {
  @return #{calc($px/$ue-width*100)}rem;
}

// *****************************************************key.scss
$keyWidth: 90;
$keyHeight: 50;
$keyGap: 7;
$circleR: 40;

.key {
    position: relative;
    width: px2rem($keyWidth);
    height: px2rem($keyHeight);
    text-align: center;
    line-height: px2rem($keyHeight);
    display: inline-block;
    border-radius: px2rem(8);
    font-size: px2rem(22);
    font-weight: 600;
    user-select: none;
    vertical-align: middle;
    box-sizing: border-box;
    .tip {
        position: absolute;
        top: px2rem(-20-$keyHeight);
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        margin: 0;
        width: px2rem($keyWidth);
        height: px2rem($keyHeight);
        border-radius: px2rem(8);
        font-size: px2rem(22);
        font-weight: 600;
        text-align: center;
        line-height: px2rem($keyHeight);
    }
}
// +.key
.key {
    margin-left: px2rem($keyGap);
}

// size
.key.x3_4 {
    width: px2rem($keyWidth * 0.75);
}
.key.x1 {
    width: px2rem($keyWidth);
}
.key.x2 {
    width: px2rem($keyWidth * 2 + $keyGap);
}
.key.x4 {
    width: px2rem($keyWidth * 4 + $keyGap * 3);
}
.key.all {
    width: px2rem($keyWidth * 12 + $keyGap * 11);
}
